.footer {
    background-color: #012233;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer > *:hover {
    color: #fff;
}